@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/Coolvetica.otf') format('opentype');
}

@font-face {
    font-family: 'SuperCharge';
    src: url('../fonts/SuperCharge.otf') format('opentype');
}

* {
    font-family: 'Coolvetica', sans-serif;
}

body {
    margin: 0;
    padding: 10px;
    width: 275px;
    height: 200px;
    background-color: #2A2929;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'SuperCharge', sans-serif;
    font-size: 24px;
}

#presentation {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #E1306C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C13584;
}

#message {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
#loaderIcon {
    animation: spin 1s linear infinite;
}